body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}

.container {
    
    max-width: 980px;
    width: 95%;
    margin: 0 auto;
    background-color: white;
}

.columns {
    display: flex;
}

img {
    width: 100%;
}

h1 {
    font-size: 3rem;
    color: #312614;
    text-align: center;
}

h1 span {
    color: #ddc850;
}

h2 {

    font-size: 1.5rem;
    color: #707070;
}