body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}

.container {

    max-width: 980px;
    width: 95%;
    margin: 0 auto;
    background-color: white;
}

.columns {
    display: flex;
}

img {
    width: 100%;
}
/* typogrqphy */
h1 {
    font-size: 3rem;
    color: #312614;
    text-align: center;
}

h1 span {
    color: #ddc850;
}

h2 {

    font-size: 1.5rem;
    color: #707070;
}

p {
    margin-top: 0;
}


/* flexing */
.col {
    margin: 0 .5em;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 75%;
}

.col-bg {
    background-color: #312614;
    padding: .5em;
    margin: 1em 0;
    color: white;
}
